.profile-container{
 width: 50%;
 height: 100%;
}
.profile-image{
    height: 100%;
    width: 200px;
}
.profile-Text{
   font-family: Georgia, 'Times New Roman', Times, serif;
   
}
.nav-container{
    position: absolute;
    top: 0%;
    right: 10%;
    
}
.nav-container #nav a{
  color: silver;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  padding: 5px;
}
.nav-container #nav a li {
    list-style: none;
    
    display: inline-block;
}
.introduction{
    margin-top: 20px;
    height: 500px;
    
}
.I-Text{
    
    display: inline-block;
    width: 50%;
    

}
.I-image{
     display: inline-block;
     margin-right: 20px;
     

}
.I-image img{
    width: 400px;
     height: 300px;
}