li{
    padding: 5px;
    text-decoration: none;
    list-style: none;
}
.nav{
    position: absolute;
    right: 0;
    border: 1px solid lightblue;
    height: 50px;
    width: 100%;
}
.nav a{
    border: 1px solid lightblue;
    height: 50px;
    width: fit-content;
    text-decoration: none;
    opacity: 0.7;
    background-color: lightblue;
    font-family: fantasy;
}
.nav a:hover{
    background-color: rgb(108, 177, 201);
    opacity: 0.5;
    font-size: large;

}
header h1{
    color: rgb(2, 129, 172);
    font-family: fantasy;
    opacity: 0.7;
}
.tours-info-Cards{
    display: flex;
    margin-top: 70px;
   
    
}
.Gap-10{
    gap:10px;
}
.tour-card{
    border: 1px black solid;
    border-radius: 10px;
    width :400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
   

}
.tour-card img{
    height: 50%;
    width:100%;
    border-radius: 10px;
}
